<div class="details-container" *ngIf="loan() as l; else noLoan">
  
  <h2>Application Details</h2>

  <!-- Applicant Info -->
  <div class="card-section">
    <h3>Applicant Info</h3>
    <p><strong>Name:</strong> {{ l.applicant.FullName }}</p>
    <p><strong>Email:</strong> {{ l.applicant.Email }}</p>
    <p><strong>Phone:</strong> {{ l.applicant.PhoneNumber }}</p>
    <p><strong>DOB:</strong> {{ l.applicant.DateOfBirth }}</p>
    <p><strong>Application Date:</strong> {{ l.applicant.applicationDate }}</p>
  </div>

  <!-- Loan & Pricing -->
  <div class="card-section" *ngIf="l.pricing">
    <h3>Loan & Pricing</h3>
    <p><strong>Product:</strong> {{ l.pricing.productName }}</p>
    <p><strong>Loan Amount:</strong> {{ l.pricing.loanAmount| number }}</p>
    <p><strong>Tenure:</strong> {{ l.pricing.tenureMonths }} months</p>
    <p appHighlightRate [rate]="l.pricing.interestRate">
      <strong>Interest Rate:</strong> {{ l.pricing.interestRate }}%
    </p>
    <p><strong>EMI / Month:</strong> {{ emi() | number:'1.2-2' }}</p>
  </div>

  <div class="back-btn">
    <button routerLink="/list">Back to Dashboard</button>
  </div>
</div>

<ng-template #noLoan>
  <div class="no-loan">
    <p>Loan not found.</p>
    <button routerLink="/list">Back to Dashboard</button>
  </div>
</ng-template>